.button {
  color: rgb(39, 39, 39);
  background-color: gold;
  border: none;
  width: 80px;
  height: 25px;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 2px;
}

.chipBtnCounter {
  width: 120px;
}

.redeal {
  margin: auto;
}
.stakebtn {
  width: 60px;
}

.holdBtn {
  color: gold;
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* @media only screen and (max-width: 600px) {
  .holdBtn {
    max-width: 50px;
    color: gold;
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
} */
