.button {
  color: black;
  background-color: transparent;
  border: 3px solid rgb(40, 40, 40);
  width: auto;
  height: auto;
  font-weight: 600;
  font-size: 1.2em;
  /* padding: 3px; */
}

.chipBtnCounter {
  width: auto;
  height: auto;
  text-align: center;
}

.deal-btn {
  cursor: pointer;
}

.deal-btn:hover {
  color: red;
  border-color: red;
}

.redeal {
  margin: auto;
  cursor: pointer;
}

.redeal:hover {
  color: red;
  border-color: red;
}

.redeal-btn-align {
  display: flex;
  justify-content: center;
  height: 3em;
}

.stake-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stakebtn {
  width: auto;
  cursor: pointer;
}

.stake-label {
  font-size: 1.2em;
  font-weight: 700;
  display: inline-block;
  align-self: center;
}

.holdBtnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.holdBtn {
  color: white;
  background-color: rgb(40, 40, 40);
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
  .holdBtn {
    max-width: 50px;
    color: gold;
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
} */
