.parentViewL {
  display: grid;
  grid-template-rows: 30% 60%;
}

.topViewL {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 60% 15%;
}

.bottomViewL {
  grid-row-start: 2;
  background: rgb(34, 34, 34);
  color: white;
  display: grid;
  padding: 5px;
  border-radius: 2.5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8% 1fr 1fr 1fr 1fr;
  min-height: 1100px;
  align-items: center;
}

.headingL {
  grid-column-start: 2;
  grid-row-start: 1;
}

.logoL {
  display: block;
  max-width: 300px;
  margin: auto;
}

.messageL {
  color: white;
  grid-column-start: 2;
  /* grid-column-end: 4; */
  grid-row-start: 2;
  justify-content: center;
}

.loginBtnL {
  grid-column-start: 2;
  grid-row-start: 3;
  background-color: gold;
  color: rgb(43, 43, 43);
  font-weight: bold;
  height: 3em;
  width: 8em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  justify-self: center;
}

.dealbtnL {
  background-color: gold;
  color: rgb(43, 43, 43);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.holdBtnL {
  color: gold;
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.instructions {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
}

.instructionsObj {
  font-size: small;
  grid-column-start: 1;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 25% 1fr 1fr;
}

.objectiveOne {
  grid-row-start: 1;
}

.objectiveTwo {
  grid-row-start: 2;
}

.objectiveThree {
  grid-row-start: 3;
}

.objectiveFour {
  font-size: small;
  grid-column-start: 3;
  grid-row-start: 2;
}

.exampleCard {
  max-width: 60px;
  max-height: 80px;
  margin: 0 2px 0 2px;
  justify-self: center;
}

.randomHand {
  /* grid-column-start: 2; */
  grid-row-start: 2;
  justify-self: center;
}

.instructionsRedeal {
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  grid-template-rows: 18% 28% 30% 30%;
  font-size: small;
}

.insRand {
  grid-row-start: 1;
}

.insRandTwo {
  grid-row-start: 2;
}

.insRandThree {
  grid-row-start: 3;
}

.insRandFour {
  grid-column-start: 3;
  grid-row-start: 3;
  font-size: small;
}

.newHand {
  grid-column-start: 2;
  grid-row-start: 3;
  display: grid;
  height: 100%;
  grid-template-rows: 20% 25% 1fr;
}

.holdButtons {
  grid-row-start: 1;
  justify-self: center;
}

.newCards {
  grid-row-start: 2;
  justify-self: center;
}

.newHand p {
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

.stakebtn {
  color: rgb(39, 39, 39);
  background-color: gold;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.handValues {
  font-size: small;
  grid-column: 1;
  grid-row: 4;
}

.handNames {
  grid-column-start: 2;
  grid-row-start: 4;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.exampleCardH {
  max-width: 30px;
  max-height: 50px;
  margin: 0 2px 0 2px;
}

.royalflushL {
  grid-row-start: 1;
  margin: none;
}

.straightflushL {
  grid-row-start: 2;
}

.fourofakindL {
  grid-row-start: 3;
}

.fullhouseL {
  grid-row-start: 4;
}

.flushL {
  grid-row-start: 5;
}

.handNamesTwo {
  grid-column-start: 2;
  grid-row-start: 5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.straightL {
  grid-row-start: 1;
}

.threeofakindL {
  grid-row-start: 2;
}

.twopairL {
  grid-row-start: 3;
}

.pairL {
  grid-row-start: 4;
}

.handDesc {
  font-size: small;
  grid-column-start: 3;
  grid-row-start: 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.handDescTwo {
  font-size: small;
  grid-column-start: 3;
  grid-row-start: 5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.royalflushdesc{
  grid-row-start: 1;
}

.straightflushdesc{
  grid-row-start: 2;
}

.fourofakinddesc{
  grid-row-start: 3;
}

.fullhousedesc{
  grid-row-start: 4;
}

.flushdesc{
  grid-row-start: 5;
}

.straightdesc{
  grid-row-start: 1;
}

.threeofakinddesc{
  grid-row-start: 2;
}

.twopairdesc{
  grid-row-start: 3;
}

.pairdesc{
  grid-row-start: 4;
}

