.parentViewL {
  display: grid;
  grid-template-rows: 30% 60%;
  grid-template-areas: 
    "landing"
    "instructions";
}

.topViewL {
  grid-area: landing;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 60% 15%;
  color: black;
}

.bottomViewL {
  grid-area: instructions;
  background: rgb(34, 34, 34);
  color: white;
  display: grid;
  padding: 1vw;
  border-radius: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 1fr 1fr 1fr;
  grid-template-areas: 
    ". title ."
    "objective random-hand objective-two"
    "hold-explain hand-with-btns hold-explain-two"
    "hand-values hand-demos hand-demos-cont";
  /* min-height: 1100px; */
  height: 100%;
  align-items: center;
}

.headingL {
  grid-column-start: 2;
  grid-row-start: 1;
}

.logoL {
  display: flex;
  width: 75%;
  justify-self: center;
  margin: auto;
}

.messageL {
  color: black;
  grid-column-start: 2;
  /* grid-column-end: 4; */
  grid-row-start: 2;
  justify-content: center;
  text-align: center;
}

.loginBtnL {
  grid-column-start: 2;
  grid-row-start: 3;
  background-color: transparent;
  color: rgb(40, 40, 40);
  font-weight: bold;
  height: 3em;
  width: 8em;
  cursor: pointer;
  border: 3px solid rgb(40,40,40);
  justify-self: center;
}

.loginBtnL:hover {
  border-color: red;
  color: red;
}

.dealbtnL {
  background-color: gold;
  color: rgb(43, 43, 43);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.holdBtnL {
  color: gold;
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.instructions {
  grid-area: title;
  justify-self: center;
}

.instructionsObj {
  font-size: 1vw;
  grid-area: objective;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.objectiveFour {
  font-size: 1vw;
  grid-area: objective-two;
}

.exampleCard {
  max-width: 60px;
  max-height: 80px;
}

.randomHand {
  grid-area: random-hand;
  display: flex;
  justify-content: space-evenly;
}

.instructionsRedeal {
  grid-area: hold-explain;
  display: flex;
  /* grid-template-rows: 18% 28% 30% 30%; */
  flex-direction: column;
  align-content: space-around;
  font-size: 1vw;
}

.insRandFour {
  grid-area: hold-explain-two;
  font-size: 1vw;
}

.newHand {
  grid-area: hand-with-btns;
  display: flex;
  /* height: 100%; */
  /* grid-template-rows: 20% 25% 1fr; */
  flex-direction: column;
  align-content: space-between;
}

.holdButtons {
  /* grid-area: hand-with-btns; */
  display: flex;
  justify-content: space-evenly;
}

.newCards {
  /* grid-area: hand-with-btns; */
  display: flex;
  justify-content: space-evenly;
}

.newHand p {
  /* grid-row-start: 3; */
  align-self: center;
  justify-self: center;
}

.stakebtn {
  color: rgb(39, 39, 39);
  background-color: gold;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.handValues {
  font-size: 1vw;
  grid-area: hand-values;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  align-content: space-around; */
}

.handNames {
  grid-area: hand-demos;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.handNamesTwo {
  grid-area: hand-demos-cont;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.DemoDesc {
  font-size: 1vw;
  text-align: center;
}

.demoHandL {
  display: flex;
  justify-content: space-evenly;
}

.exampleCardH {
  max-width: 40px;
  max-height: 60px;
}

