.loginForm {
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  width: 350px;
}

.logo {
  color: white;
  text-align: center;
}

a {
  display: flex;
  color: rgb(0, 204, 255);
  justify-content: flex-end;
}

.loginForm h2 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  background-color: gold;
  border-radius: 5px;
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.button:hover {
  cursor: pointer;
}
.formField {
  background-color: rgb(24, 24, 24);
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: none;
  padding: 3px;
  border-radius: 5px;
}