.loginForm {
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 5px;
  margin: auto;
  width: 350px;
}

a {
  color: rgb(0, 204, 255);
  text-align: center;
}

.loginForm h1 {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: gold;
  border-radius: 5px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  right: 0;
  margin: 5px;
}

.formField {
  background-color: rgb(24, 24, 24);
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: none;
  padding: 3px;
  border-radius: 5px;
}