.loginsignupContainer {
  display: grid;
  grid-template-rows: 40% 1fr;
  grid-template-areas: 
    "logo"
    "form";
}

.loginForm {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-template-areas:
    ". message ."
    ". form ."
    ". login link";
  background-color: transparent;
  color: black;
  border: 5px solid rgb(40,40,40);
  justify-self: center;
  width: 35%;
}

.signUpForm {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". message ."
    ". email ."
    ". username ."
    ". login link";
  background-color: transparent;
  border: 5px solid rgb(40, 40, 40);
  color: black;
  margin: auto;
  width: 35%;
  /* justify-content: center; */
}

.message {
  grid-area: message;
  text-align: center;
}

.username {
  grid-column-start: 2;
  grid-row-start: 2;
}

.email {
  grid-column-start: 2;
  grid-row-start: 3;
}

.password {
  grid-column-start: 2;
  grid-row-start: 3;
}

.newPassword {
  grid-column-start: 2;
  grid-row-start: 4;
}

.formField {
  background-color: transparent;
  color: black;
  border: 3px solid red;
  padding: 3px;
  margin: 5px;
}

.formField::placeholder {
  color: red;
  text-align: center;
}

.LloginBtn {
  grid-column-start: 2;
  grid-row-start: 4;
  background-color: transparent;
  border: 2px solid red;
  font-weight: 400;
  color: red;
  margin: 10px 30px 10px 30px;
}

.signupBtn {
  grid-column-start: 2;
  grid-row-start: 5;
  background-color: transparent;
  border: 3px solid red;
  color: red;
  margin: 10px 30px 10px 30px;
}


.LloginBtn:hover {
  cursor: pointer;
}

.signupLink {
  grid-column-start: 3;
  grid-row-start: 4;
  color: red;
  text-align: center;
  margin: auto;
}

.loginLink {
  grid-column-start: 3;
  grid-row-start: 5;
  color: red;
  text-align: center;
  margin: auto;
}

.logo {
  grid-row-start: 1;
  display: block;
  max-width: 300px;
  margin: auto;
}

@media only screen and (max-width: 724px) {

  .loginsignupContainer {
    grid-template-rows: 50% 1fr;
  }

  .loginForm {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas:
      ". message ."
      ". form ."
      ". login ."
      ". link .";
    width: 70%;
  }

  .signUpForm {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas:
      ". message ."
      ". form ."
      ". login ."
      ". link .";
    width: 70%;
  }

  .formField {
    width: auto;
  }

  .signupLink {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  .LloginBtn {
    width: auto;
    height: 30%;
  }

  .loginLink {
    grid-row-start: 6;
    grid-column-start: 2;
  }
}