.statContainer {
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 15% 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

.sUsername {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
}

.sStatHands {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}

ul {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  font-size: small;
}

li {
  list-style: none;
}

.sStatWins {
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: center;
}

.sStatStake {
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
}

.sLogOutButton {
  grid-column-start: 3;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
  color: rgb(39, 39, 39);
  cursor: pointer;
  width: 80px;
  height: 25px;
  font-weight: 600;
  background-color: gold;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.sChipRefillButton {
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
  color: rgb(39, 39, 39);
  cursor: pointer;
  width: 150px;
  height: 25px;
  font-weight: 600;
  background-color: gold;
  border: none;
  border-radius: 5px;
  padding: 2px;
}